<!DOCTYPE html>
<html lang="en"><!-- Basic -->
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">   
   
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
 
     <!-- Site Metas -->
    <title>Wedding - Aleena & Tigin</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">

	{% load static %}
	<link rel="shortcut icon" href="{% static 'wedding_app/images/favicon.ico' %}" type="image/x-icon">
    <link rel="shortcut icon" href="{% static 'wedding_app/images/favicon.ico' %}" type="image/x-icon">
    <link rel="apple-touch-icon" href="{% static 'wedding_app/images/apple-touch-icon.png' %}">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'wedding_app/css/bootstrap.min.css' %}">
    <!-- Pogo Slider CSS -->
    <link rel="stylesheet" href="{% static 'wedding_app/css/pogo-slider.min.css' %}">
    <!-- Site CSS -->
    <link rel="stylesheet" href="{% static 'wedding_app/css/style.css' %}">    
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="{% static 'wedding_app/css/responsive.css' %}">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'wedding_app/css/custom.css' %}">

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body id="home" data-spy="scroll" data-target="#navbar-wd" data-offset="98">

	<!-- LOADER -->
    <div id="preloader">
		<div class="preloader pulse">
			<h3>Aleena Terese George & Tigin Varghese</h3>
		</div>
    </div><!-- end loader -->
    <!-- END LOADER -->
	
	<!-- Start header -->
	<header class="top-header">
		<nav class="navbar header-nav navbar-expand-lg">
            <div class="container">
				<a class="navbar-brand" href="#"><img src="{% static 'wedding_app/images/logo.png' %}" alt="image"></a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-wd" aria-controls="navbar-wd" aria-expanded="false" aria-label="Toggle navigation">
					<span></span>
					<span></span>
					<span></span>
				</button>
                <div class="collapse navbar-collapse justify-content-end" id="navbar-wd">
                    <ul class="navbar-nav">
                        <li><a class="nav-link active" href="#home">Home</a></li>
                        <li><a class="nav-link" href="#about">About Us</a></li>
                        <li><a class="nav-link" href="#story">Story</a></li>
                        <li><a class="nav-link" href="#family">Family</a></li>
                        <li><a class="nav-link" href="#gallery">Gallery</a></li>
						<li><a class="nav-link" href="#wedding">Wedding</a></li>
                        <li><a class="nav-link" href="#events">Events</a></li>
						<li><a class="nav-link" href="#contact">Contact</a></li>
                    </ul>
                </div>
            </div>
        </nav>
	</header>
	<!-- End header -->
	
	<!-- Start Banner -->
	<div class="home-slider">
		<ul class="rslides">
			<li><img src="{% static 'wedding_app/images/slider-01.jpg' %}" alt=""></li>
            <li><img src="{% static 'wedding_app/images/slider-02.jpg' %}" alt=""></li>
            <li><img src="{% static 'wedding_app/images/slider-03.jpg' %}" alt=""></li>
		</ul>
		<div class="lbox-details">
			<h1>Aleena Terese George  & Tigin Varghese</h1>
			<h2>We're getting married</h3>
			<div class="countdown main-time clearfix">
				<div id="timer">
					<h3> 27 January 2024</h3>
					<div id="days"></div>
					<div id="hours"></div>
					<div id="minutes"></div>
					<div id="seconds"></div>
				</div>
			</div>
		</div>
	</div>
	<!-- End Banner -->
	
	<!-- Start About us -->
	<div id="about" class="about-box">
		<div class="about-a1">
			<div class="container">
				<div class="row">
					<div class="col-lg-12 text-center">
						<div class="title-box">
							<h2>Aleena Terese George <span> & </span> Tigin Varghese </h2>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-12 col-md-12 col-sm-12">
						<div class="row align-items-center about-main-info">
							<div class="col-lg-4 col-md-6 col-sm-12">
								<div class="about-m">
									<div class="about-img">
										<img class="img-fluid" src="{% static 'wedding_app/images/about-img-01.jpg' %}" alt="" />
									</div>
									<ul>
										<li><a href="https://instagram.com/aleena._.terese?igshid=OGQ5ZDc2ODk2ZA=="><i class="fa fa-instagram"></i></a></li>
										<li><a href="https://www.linkedin.com/in/aleenateresegeorge?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=ios_app"><i class="fa fa-linkedin"></i></a></li>
									</ul>
								</div>
							</div>
							<div class="col-lg-8 col-md-6 col-sm-12">
								<h2> <i class="fa fa-heart-o" aria-hidden="true"></i> <span>Aleena Terese George</span> <i class="fa fa-heart-o" aria-hidden="true"></i></h2>
								<p> Introducing the radiant Aleena Terese George, the enchanting co-pilot to my adventure.
                                    Hailing from the charming town of Pala, Kerala, Aleena is not just a Cyber Security
                                    Engineer at CDAC India but a guardian of digital realms. When not immersed in the
                                    world of codes and firewalls, you'll find her lost in the pages of a good book or
                                    gracefully owning the dance floor.
                                    Aleena's zest for life extends to exploring new destinations, making each trip an opportunity for discovery.
                                    She brings a perfect blend of intelligence, elegance, and an undeniable love for partying and
                                    hanging out with friends. Join us as we embark on a journey where love, cybersecurity,
                                    and the rhythm of dance converge into a beautiful symphony. </p>
							</div>
						</div>
						<div class="row align-items-center about-main-info">
							<div class="col-lg-4 col-md-6 col-sm-12">
								<div class="about-m">
									<div class="about-img">
										<img class="img-fluid" src="{% static 'wedding_app/images/about-img-02.jpg' %}" alt="" />
									</div>
									<ul>
                                        <li><a href="https://instagram.com/tigin_nellithanam?igshid=OGQ5ZDc2ODk2ZA%3D%3D&utm_source=qr"><i class="fa fa-instagram"></i></a></li>
                                        <li><a href="https://www.linkedin.com/in/tigin-varghese-849586137?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=ios_app"><i class="fa fa-linkedin"></i></a></li>
									</ul>
								</div>
							</div>
							<div class="col-lg-8 col-md-6 col-sm-12">
								<h2> <i class="fa fa-heart-o" aria-hidden="true"></i> <span>Tigin Varghese</span> <i class="fa fa-heart-o" aria-hidden="true"></i></h2>
								<p>Hey there, I'm [Your Name]! Originally from the picturesque land of Kerala, I've found my home in Bengaluru
                                    as a senior software developer at Continental Autonomous Mobility. By day, I'm immersed in the world
                                    of code and innovation; by night, you'll find me whipping up culinary delights in the kitchen.
                                    Beyond the tech realm, my heart finds joy in exploring new destinations, making each
                                    trip an adventure to remember. When not chasing deadlines or wanderlust,
                                    I love hanging out with friends, reveling in the joy of good company,
                                    and occasionally letting loose on the dance floor.
                                    Life's too short not to savor its flavors, both in code and cuisine.
                                    Join me on this incredible journey, as I blend the best of both worlds and
                                    say 'I do' to a lifetime of love, laughter, and endless exploration. </p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End About us -->
	
	<!-- Start Story -->
	<div id="story" class="story-box main-timeline-box">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="title-box">
						<h2>Our Story</h2>
						<p>In the vibrant setting of The Outhouse Bistro, our paths converged in the dance of
                            destiny—our first encounter in the journey of an arranged marriage. Amidst the lively ambiance,
                            laughter became the melody, and our stories gracefully intertwined.
                            As we sat across from each other, the air filled with anticipation and the promise of something beautiful.
                            The clinking of glasses and the hum of conversations provided the soundtrack to the unfolding chapter of our lives.
                            In that moment, we discovered the magic of shared laughter and the joy of connection.
                            The Outhouse Bistro became the backdrop to the beginning of our story, a tale that would unravel with
                            each shared smile and every exchanged word. Little did we know, that evening marked the inception of a love story,
                            where every laughter-filled moment would serve as the cornerstone of our
                            journey together—a journey destined to bloom with the beauty of love. </p>
					</div>
				</div>
			</div>
			
			<div class="timeLine">
				<div class="row">
					<div class="lineHeader hidden-sm hidden-xs"></div>
					<div class="lineFooter hidden-sm hidden-xs"></div>

						<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 item" >
							<div class="caption">
								<div class="image">
									<img src="{% static 'wedding_app/images/time-01.jpg' %}" alt="" />
									<div class="title">
										<h2>First Meet <i class="fa fa-angle-right" aria-hidden="true"></i></h2>
									</div>
								</div>
								<div class="textContent">
									<p class="lead">On the 28th of December 2022, in the lively ambiance of The Outhouse Bistro,
                                        our hearts found their rhythm during our first meeting. Laughter echoed,
                                        stories intertwined, and the fun we shared became the cornerstone of our journey together.
                                        That evening marked the beginning of a love that would bloom beautifully.</p>
								</div>
							</div>
						</div>

						<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 item">
							<div class="caption">
								<div class="star center-block">
									<span class="h3">28</span>
									<span>June</span>
									<span>2023</span>
								</div>
								<div class="image">
									<img src="{% static 'wedding_app/images/time-03.jpg' %}" alt="" />
									<div class="title">
										<h2>Proposal <i class="fa fa-angle-right" aria-hidden="true"></i></h2>
									</div>
								</div>
								<div class="textContent">
									<p class="lead">In the enchanting glow of an evening in Electronic City,
                                        Bangalore, on the 28th of June 2023, a surprise unfolded that would forever etch
                                        itself into the story of us. Amidst the city lights and the rhythm of life,
                                        I took a moment to weave the stars into a constellation of love. With hearts
                                        synchronized and anticipation hanging in the air, I proposed, turning the
                                        ordinary streets into an extraordinary canvas where our journey took a new,
                                        dazzling turn. That evening, under the Bangalore sky, a chapter of forever began.</p>
								</div>
							</div>
						</div>
						<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 item">
							<div class="caption">
								<div class="star center-block">
									<span class="h3">20</span>
									<span>January</span>
									<span>2024</span>
								</div>
								<div class="image">
									<img src="{% static 'wedding_app/images/time-04.jpg' %}" alt="" />
									<div class="title">
										<h2>Engagement <i class="fa fa-angle-right" aria-hidden="true"></i></h2>
									</div>
								</div>
								<div class="textContent">
									<p class="lead">In the celestial dance of our love story, the stars align on the 20th of January 2024.
                                        Join us as we embark on a journey of commitment and celebration, as
                                        two souls intertwine and become one. Save the date for a moment that transcends time - our enchanting engagement awaits!</p>
								</div>
							</div>
						</div>
						<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 item">
							<div class="caption">
								<div class="star center-block">
									<span class="h3">27</span>
									<span>January</span>
									<span>2024</span>
								</div>
								<div class="image">
									<img src="{% static 'wedding_app/images/time-05.jpg' %}" alt="" />
									<div class="title">
										<h2>Our Wedding <i class="fa fa-angle-right" aria-hidden="true"></i></h2>
									</div>
								</div>
								<div class="textContent">
									<p class="lead">As the sun sets on the 27th of January 2024, our love story reaches its pinnacle.
                                        Join us under the canvas of stars as we exchange vows and embark on the grand adventure of marriage.
                                        An exquisite chapter awaits, where 'forever' begins and a lifetime of love unfolds. Save the date for
                                        the celebration of us – our enchanting wedding day.</p>
								</div>
							</div>
						</div>

				</div>
			</div>
			
		</div>
	</div>
	<!-- End Story -->
	
	<!-- Start Family -->
	<div id="family" class="family-box">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="title-box">
						<h2>Family</h2>
						<p>What to put here man ? </p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-4 col-md-6 col-sm-12">
					<div class="single-team-member">
						<div class="family-img">
							<img class="img-fluid" src="{% static 'wedding_app/images/family-01.jpg' %}" alt="" />
						</div>
						<div class="family-info">
							<h4>Mr. George Kollamparampil</h4>
							<p>{Aleena’s Father }</p>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 col-sm-12">
					<div class="single-team-member">
						<div class="family-img">
							<img class="img-fluid" src="{% static 'wedding_app/images/family-02.jpg' %}" alt="" />
						</div>
						<div class="family-info">
							<h4>Mrs. Terese George </h4>
							<p>{ Aleena’s Mother }</p>
						</div>
					</div>
				</div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="single-team-member">
                        <div class="family-img">
                            <img class="img-fluid" src="{% static 'wedding_app/images/family-03.jpg' %}" alt="" />
                        </div>
                        <div class="family-info">
                            <h4>Mr. Alwin </h4>
                            <p>{ Aleena’s Brother }</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="single-team-member">
                        <div class="family-img">
                            <img class="img-fluid" src="{% static 'wedding_app/images/family-03.jpg' %}" alt="" />
                        </div>
                        <div class="family-info">
                            <h4>Mrs. Kunjumary Alwin </h4>
                            <p>{ Aleena’s Sister }</p>
                        </div>
                    </div>
                </div>
				<div class="col-lg-4 col-md-6 col-sm-12">
					<div class="single-team-member">
						<div class="family-img">
							<img class="img-fluid" src="{% static 'wedding_app/images/family-03.jpg' %}" alt="" />
						</div>
						<div class="family-info">
							<h4>Mr. Kurian George </h4>
							<p>{ Aleena’s Brother }</p>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 col-sm-12">
					<div class="single-team-member">
						<div class="family-img">
                            <img class="img-fluid" src="{% static 'wedding_app/images/family-04.jpg' %}" alt="" />
						</div>
						<div class="family-info">
							<h4>Mrs. Sowmya Kurian </h4>
							<p>{ Aleena’s Sister-in-law }</p>
						</div>
					</div>
				</div>



                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="single-team-member">
                        <div class="family-img">
                            <img class="img-fluid" src="{% static 'wedding_app/images/family-01.jpg' %}" alt="" />
                        </div>
                        <div class="family-info">
                            <h4>Mr. Joseph Varghese</h4>
                            <p>{Tigin’s Father }</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="single-team-member">
                        <div class="family-img">
                            <img class="img-fluid" src="{% static 'wedding_app/images/family-02.jpg' %}" alt="" />
                        </div>
                        <div class="family-info">
                            <h4>Mrs. Jancy Varghese </h4>
                            <p>{ Tigin’s Mother }</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="single-team-member">
                        <div class="family-img">
                            <img class="img-fluid" src="{% static 'wedding_app/images/family-03.jpg' %}" alt="" />
                        </div>
                        <div class="family-info">
                            <h4>Mr. Vijoy Paul </h4>
                            <p>{ Tigin’s Brother-in-law }</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="single-team-member">
                        <div class="family-img">
                            <img class="img-fluid" src="{% static 'wedding_app/images/family-03.jpg' %}" alt="" />
                        </div>
                        <div class="family-info">
                            <h4>Mrs. Tintu Vijoy </h4>
                            <p>{ Tigin’s Sister }</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="single-team-member">
                        <div class="family-img">
                            <img class="img-fluid" src="{% static 'wedding_app/images/family-03.jpg' %}" alt="" />
                        </div>
                        <div class="family-info">
                            <h4>Mr. Santhosh Wilson </h4>
                            <p>{ Tigin’s Brother-in-law }</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="single-team-member">
                        <div class="family-img">
                            <img class="img-fluid" src="{% static 'wedding_app/images/family-04.jpg' %}" alt="" />
                        </div>
                        <div class="family-info">
                            <h4>Mrs. Tania Santhosh </h4>
                            <p>{ Tigin’s Sister }</p>
                        </div>
                    </div>
                </div>



			</div>
		</div>
	</div>
	<!-- End Family -->
	
	<!-- Start Gallery -->
	<div id="gallery" class="gallery-box">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="title-box">
						<h2>Gallery</h2>
						<p>what to put here </p>
					</div>
				</div>
			</div>
			<div class="row">
				<ul class="popup-gallery clearfix">
					<li>
						<a href="{% static 'wedding_app/images/gallery-01.jpg' %}">
							<img class="img-fluid" src="{% static 'wedding_app/images/gallery-01.jpg' %}" alt="single image">
							<span class="overlay"><i class="fa fa-heart-o" aria-hidden="true"></i></span>
						</a>
					</li>
					<li>
						<a href="{% static 'wedding_app/images/gallery-02.jpg' %}">
                            <img class="img-fluid" src="{% static 'wedding_app/images/gallery-02.jpg' %}" alt="single image">
							<span class="overlay"><i class="fa fa-heart-o" aria-hidden="true"></i></span>
						</a>
					</li>
					<li>
						<a href="{% static 'wedding_app/images/gallery-03.jpg' %}">
                            <img class="img-fluid" src="{% static 'wedding_app/images/gallery-03.jpg' %}" alt="single image">
							<span class="overlay"><i class="fa fa-heart-o" aria-hidden="true"></i></span>
						</a>
					</li>
					<li>
						<a href="{% static 'wedding_app/images/gallery-04.jpg' %}">
                            <img class="img-fluid" src="{% static 'wedding_app/images/gallery-04.jpg' %}" alt="single image">
							<span class="overlay"><i class="fa fa-heart-o" aria-hidden="true"></i></span>
						</a>
					</li>
					<li>
						<a href="{% static 'wedding_app/images/gallery-05.jpg' %}">
                            <img class="img-fluid" src="{% static 'wedding_app/images/gallery-05.jpg' %}" alt="single image">
							<span class="overlay"><i class="fa fa-heart-o" aria-hidden="true"></i></span>
						</a>
					</li>
					<li>
						<a href="{% static 'wedding_app/images/gallery-06.jpg' %}">
                            <img class="img-fluid" src="{% static 'wedding_app/images/gallery-06.jpg' %}" alt="single image">
							<span class="overlay"><i class="fa fa-heart-o" aria-hidden="true"></i></span>
						</a>
					</li>
					<li>
						<a href="{% static 'wedding_app/images/gallery-07.jpg' %}">
                            <img class="img-fluid" src="{% static 'wedding_app/images/gallery-07.jpg' %}" alt="single image">
							<span class="overlay"><i class="fa fa-heart-o" aria-hidden="true"></i></span>
						</a>
					</li>
					<li>
						<a href="{% static 'wedding_app/images/gallery-08.jpg' %}">
                            <img class="img-fluid" src="{% static 'wedding_app/images/gallery-08.jpg' %}" alt="single image">
							<span class="overlay"><i class="fa fa-heart-o" aria-hidden="true"></i></span>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<!-- End Gallery -->
	
	<!-- Start Wedding -->
	
	<div id="wedding" class="wedding-box">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="title-box">
						<h2>Wedding</h2>
						<p>Something </p>
					</div>
				</div>
			</div>
			
			<div class="row">
                <div class="col-md-4 col-sm-6">
                    <div class="serviceBox">
                        <div class="service-icon"><i class="flaticon-bachelorette-party"></i></div>
                        <h3 class="title">Bachelor Party </h3>
						<h4>10 January 2024 at 7:30 pm</h4>
                        <p class="description">
                            Buhaha.
                        </p>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6">
                    <div class="serviceBox">
                        <div class="service-icon"><i class="flaticon-wedding"></i></div>
                        <h3 class="title">Engagement Ceremony </h3>
						<h4>27 January 2024 at 12:00 pm</h4>
                        <p class="description">
                            Mar Sleeva Syro Malabar Catholic Church Cherpunkal
                        </p>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6">
                    <div class="serviceBox">
                        <div class="service-icon"><i class="flaticon-reception-bell"></i></div>
                        <h3 class="title">Wedding Ceremony </h3>
						<h4>27 January 2024 at 11:00 am</h4>
                        <p class="description">
                            St'xaviers Forane Church Thrickodithanam.
                        </p>
                    </div>
                </div>
            </div>
			
		</div>
	</div>
	
	<!-- End Wedding -->
	
	<!-- Start Events -->
	<div id="events" class="events-box">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="title-box">
						<h2>Events</h2>
						<p>hat to put ? </p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-4 col-md-6 col-sm-12">
					<div class="event-inner">
						<div class="event-img">
							<img class="img-fluid" src="{% static 'wedding_app/images/event-img-01.jpg' %}" alt="" />
						</div>
						<h2>20th January 2024 Engagement</h2>
						<p>Mar Sleeva Syro Malabar Catholic Church Cherpunkal </p>
						<a href="https://g.co/kgs/rpxrJr">See location <i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 col-sm-12">
					<div class="event-inner">
						<div class="event-img">
                            <img class="img-fluid" src="{% static 'wedding_app/images/event-img-02.jpg' %}" alt="" />
						</div>
						<h2>27th January 2024 Wedding Ceremony </h2>
						<p>St'xaviers Forane Church Thrickodithanam. </p>
						<a href="https://g.co/kgs/67Kysr">See location <i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End Events -->
	
	<!-- Start Contact -->
	<div id="contact" class="contact-box">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="title-box">
						<h2>Contact wth us</h2>
						<p>******** </p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12 col-sm-12 col-xs-12">
				  <div class="contact-block">
					<form id="contactForm">
					  <div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<input type="text" class="form-control" id="name" name="name" placeholder="Your Name" required data-error="Please enter your name">
								<div class="help-block with-errors"></div>
							</div>                                 
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<input type="text" placeholder="Your Email" id="email" class="form-control" name="name" required data-error="Please enter your email">
								<div class="help-block with-errors"></div>
							</div> 
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<select class="custom-select d-block form-control" id="guest" required data-error="Please select an item in the list.">
								  <option disabled selected>Number Of Guest*</option>
								  <option value="1">1</option>
								  <option value="2">2</option>
								  <option value="3">3</option>
								  <option value="4">4</option>
								  <option value="5">5</option>
								</select>
								<div class="help-block with-errors"></div>
							</div> 
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<select class="custom-select d-block form-control" id="event" required data-error="Please select an item in the list.">
								  <option disabled selected>I Am Attending*</option>
								  <option value="1">All events</option>
								  <option value="2">Wedding ceremony</option>
								  <option value="3">Reception party</option>
								</select>
								<div class="help-block with-errors"></div>
							</div> 
						</div>
						<div class="col-md-12">
							<div class="form-group"> 
								<textarea class="form-control" id="message" placeholder="Your Message" rows="8" data-error="Write your message" required></textarea>
								<div class="help-block with-errors"></div>
							</div>
							<div class="submit-button text-center">
								<button class="btn btn-common" id="submit" type="submit">Send Message</button>
								<div id="msgSubmit" class="h3 text-center hidden"></div> 
								<div class="clearfix"></div> 
							</div>
						</div>
					  </div>            
					</form>
				  </div>
				</div>
			</div>
		</div>
	</div>
	<!-- End Contact -->
	
	<!-- Start Footer -->
	<footer class="footer-box">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<p class="footer-company-name">All Rights Reserved. &copy; 2024 <a href="#">Aleena & Tigin</a> Design By : <a href="#">Tigin & Kaustubh</a></p>
				</div>
			</div>
		</div>
	</footer>

    <script src="{% static 'wedding_app/js/jquery.min.js' %}"></script>
    <script src="{% static 'wedding_app/js/popper.min.js' %}"></script>
    <script src="{% static 'wedding_app/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'wedding_app/js/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'wedding_app/js/jquery.pogo-slider.min.js' %}"></script>
    <script src="{% static 'wedding_app/js/slider-index.js' %}"></script>
    <script src="{% static 'wedding_app/js/smoothscroll.js' %}"></script>
    <script src="{% static 'wedding_app/js/responsiveslides.min.js' %}"></script>
    <script src="{% static 'wedding_app/js/timeLine.min.js' %}"></script>
    <script src="{% static 'wedding_app/js/form-validator.min.js' %}"></script>
    <script src="{% static 'wedding_app/js/contact-form-script.js' %}"></script>
    <script src="{% static 'wedding_app/js/custom.js' %}"></script>
</body>
</html>